/* body */

body {
    padding-top: 70px;
    padding-bottom: 70px;
    background: url("../images/brushed.jpg");
}

.navbar-fixed-top {
    border-bottom: solid 2px #ddd;
}

.navbar-inverse .navbar-brand {
  font-family:"Georgia", "Times-New-Roman", times, serif;
  color:black;
}

.navbar-inverse .navbar-nav > li > a {
  color:#4aaaa5;
}

.navbar-brand {
  background-color:#4aaaa5;
}

.navbar-brand {
  color:black;
}

.panel {
  background-color:#eee;
}

.panel-title {
    font-weight: bold;
    color: #4aaaa5;
    padding: 10px;
}

/*bio-pic image */
.pull-left, img, .img-rounded {
  width:250px;
  height:275px;
  padding-right:10px;
}

.conpic {
  padding:10px;
  margin-left:10px;
}

img, .conpic {
  width:60px;
  height:60px;
}

.thumbnail {
  min-width:175px;
  max-width:250px;
}

.caption {
  background-color:#4aaaa5;
  min-width:230px;
  max-width:250px;
  bottom:75px;
  text-align:center;
}

.panel-heading, h3 {
  text-align:center;
}

/*footer*/

.navbar-fixed-bottom {
    padding-top: 15px;
    border-top: solid 4px #4aaaa5;
}

.navbar-fixed-bottom {
  text-align:center;
}