/* body */

body {
    padding-top: 70px;
    padding-bottom: 70px;
    background: url("../images/brushed.jpg");
}

.navbar-fixed-top {
    border-bottom: solid 2px #ddd;
}

.navbar-inverse {
    font-family: "Georgia", "Times-New-Roman", times, serif;
}

.navbar-inverse .navbar-brand {
    color:black;
}

.navbar-inverse .navbar-nav > li > a {
    color: #4aaaa5;
}

.navbar-brand {
    background-color: #4aaaa5;
}

.navbar-brand {
    color: black;
}

.panel {
    background-color: #eee;
}

.panel-title {
    font-family: "Georgia", "Times-New-Roman", times, serif;
    font-weight: bold;
    color: #4aaaa5;
    padding: 10px;
}


/*bio-pic image */


.img-rounded {
    width: 250px;
    height: 275px;
    margin-right:10px;
}

.conpic {
    padding: 10px;
    margin-left: 10px;
}

.conpic {
    width: 60px;
    height: 60px;
}

.thumbnail {

    min-width: 175px;
    max-width: 250px;
}

.caption {
    background-color: #4aaaa5;
    min-width: 230px;
    max-width: 250px;
    bottom: 55px;
    text-align: center;
}


/*footer*/

.navbar-fixed-bottom {
    padding-top: 15px;
    border-top: solid 4px #4aaaa5;
}

.navbar-fixed-bottom {
    text-align: center;
}

.btn-primary {
    background-color:#4aaaa5;
}